.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    color: #c3478e;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 30px;
  }
  ul {
    display: flex;
    align-items: center;

    li {
      margin-left: 15px;
      color: gray;
    }
  }
}
